%nav.navbar.navbar-expand-lg
  = link_to '/', class: 'navbar-brand' do
    = image_tag 'images/logo.jpg', height: 30, width: 150
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    = icon('bars')
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      - dato.nav.nav_items.each do |nav_item|
        %li.nav-item
          = link_to nav_item.path, class: 'nav-link' do
            #{nav_item.label}