%nav.navbar.navbar-expand-lg
  = link_to '/', class: 'navbar-brand' do
    = image_tag 'images/logo.png', id: 'logo'
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    = image_tag 'images/burger.png', id: 'burger'
  #navbarNav.collapse.navbar-collapse
    .navbar-nav
      - dato.nav.nav_items.each.with_index do |nav_item, i|
        = link_to nav_item.path, class: 'nav-item nav-link' do
          #{nav_item.label}
        - unless i == dato.nav.nav_items.size-1
          %span.nav-item.nav-link.slash= "//"