!!!
%html
  %head
    = partial 'layouts/google_analytics'
    = partial 'layouts/meta'
    // Include netlify identity widget for user registration
    %script{src: "https://identity.netlify.com/v1/netlify-identity-widget.js", type: "text/javascript"}
    %script{crossorigin: "anonymous", defer: "defer", integrity: "sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0", src: "https://use.fontawesome.com/releases/v5.5.0/js/all.js"}
    = javascript_include_tag 'application'
  %body
    %main.main-content
      = yield

    #bottom-float-bar.container-fluid.fixed-bottom
      .row.justify-content-center.no-gutters
        .col-11.floatbar-wrapper
          .container-fluid
            .row.justify-content-center.no-gutters
              .github.col-6.text-center.align-middle
                = link_to dato.application.github_url, class: 'github-inside align-middle' do
                  = image_tag 'images/githubcat.png', class: 'githubcat'
                  Star
                  .num{style: background_image('images/github-stars-count-bubble.png')}
                    1
              .get-started.col-6
                = link_to dato.application.github_url do
                  %h3 Get Started