!!!
%html
  %head
    = partial 'layouts/meta'
    %link{rel: "preconnect", href: "//fonts.gstatic.com"}
    %link{rel: "preconnect", href: "//fonts.googleapis.com"}
    = stylesheet_link_tag 'application'
    %script{crossorigin: "anonymous", defer: "defer", integrity: "sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0", src: "https://use.fontawesome.com/releases/v5.5.0/js/all.js"}
    = javascript_include_tag 'application', async: true, defer: true

  %body
    %main.main-content
      = yield

    #bottom-float-bar.container-fluid.fixed-bottom
      .row.justify-content-center.no-gutters
        .col-11.floatbar-wrapper
          .container-fluid
            .row.justify-content-center.no-gutters
              .col-6.text-center.align-middle
              .get-started.col-6
                = partial 'get_started'