---
title: MetaPresenter
---

.container
  .row.justify-content-center
    .col.text-center
      .container-fluid
        .row.justify-content-center
          .col-8
            %h1 MetaPresenter
            = image_tag 'images/placeholder.jpg', class: 'img-fluid'
      %ul.container-fluid
        = partial 'selling_point', locals: {message: 'Include in your controller', image_path: 'images/placeholder.jpg'}
        = partial 'selling_point', locals: {message: 'Create a presenter class', image_path: 'images/placeholder.jpg'}
        = partial 'selling_point', locals: {message: 'Write clean views with `presenter`', image_path: 'images/placeholder.jpg'}
        = partial 'selling_point', locals: {message: 'Test the presenter class', image_path: 'images/placeholder.jpg'}
      %button.btn.btn-primary
        Get Started