---
title: MetaPresenter
---

.container
  .row
    .col
      .container-fluid.text-center
        .row
          .col
            %h1 MetaPresenter
        .row.justify-content-center
          .col-4.col-lg-3
            = image_tag 'images/placeholder.jpg', class: 'img-fluid'
      %ul.container-fluid
        = partial 'selling_point', locals: {message: data.steps.one.message, code_block: data.steps.one.code}
        = partial 'selling_point', locals: {message: data.steps.two.message, code_block: data.steps.two.code}
        = partial 'selling_point', locals: {message: data.steps.three.message, code_block: data.steps.three.code}
        = partial 'selling_point', locals: {message: data.steps.four.message, code_block: data.steps.four.code}
        
      .container-fluid.text-center
        .row
          .col
            = link_to '/readme', class: 'btn btn-primary' do
              Get Started