.container
  .row
    .col
      .container-fluid.text-center
        / .row
        /   .col
        /     %h1 #{dato.application.name}
        .row.justify-content-center
          / .col-4.col-lg-3
          #animated-text-container.col
            %p
              %span Ruby
              %span Rails
            %p
              %span Rails
              %span Presenter
            %p
              %span Presenter
              %span Classes
        .row.justify-content-center
          .col.col-lg-8
            %h3 It's time to beautify your Rails views
            %p
              MetaPresenter is a
              %strong 100% free
              Ruby gem that gives you access to the powerful presenter pattern in your Rails contollers. Pull yourself out of the vortex of messy Rails. Start writing beautiful frontend code that will streamline your work and &ldquo;wow&rdquo; your coworkers. 
            %p.upcase.learnmore Learn More
      .container-fluid
        .row.justify-content-center
          .col.col-lg-8
            %p To install just add to your Gemfile, then bundle
            = code('ruby') do
              \#clean view presenter classes
              gem 'meta_presenter' 
            = code('sh') do
              $ bundle install

      %ul.container-fluid
        - dato.home.steps.each do |step|
          = partial 'selling_point', locals: {message: step.message, code_block: step.code, syntax_language: step.syntax_language}
        
      .container-fluid.text-center
        .row
          .col
            = link_to '/readme', class: 'btn btn-primary' do
              #{dato.home.start_button}
